:root{
    --chv: rgb(247, 0, 0);
}

.img{
    width: 50px;
    height:50px;

    border-radius:50px;
}

.img2{
    width: 30px;
    height:30px;
    margin:10px;
    float: left;

    border-radius:50px;
}
.iop79{
    position: absolute;
    right:10px;
    
}

.card-iop{
    position: relative;
    top:100px;
    left: 50px;
    float:left;
}

.card{
    width:40%;
    float:left;
    background-color:none;
}


.blok-content-1{
    width:100%;

   

}
.content-2{
    width:100%;
    height:500px;
    
    
}

.carousel-caption{
    position: relative;
    left:-240px;
    top:-450px;

}

.color1{
    color:#0D6EFD;
}

.iop92{
    position: relative;
    top:-15px;
    left:50px;
}




.content-1{
    position: relative;
    top:4px;
    width:100%;
    height:600px;
 
}

.blok-content-2{
    position: relative;
    left:80px;
    top:50px;
    width:600px;
    height:400px;
    float:left;
}

.iop90{
    width:200px;
    height:200px;
    border-radius:50%;
    float:left;

}

.blok2-content-2{
    position: relative;
    left:300px;
    top:80px;

  

}

.content-3{
    width:100%;
    height:500px;
    background-color: #64C0BF;
}

.blok3-content{
    position: relative;
    left:300px;
    top:100px;
    width:400px;
    height:500px;
    float:left;
}
.content-3-blok1{
    position: relative;
    top:30px;
    left:50px;
    width:500px;
    height:400px;
    float:left;
}

.btn-primary{
    width:100%;
    background-color:red;
}
.content-4{
    width:100%;
    height:700px;
    background-color: rgb(63, 61, 61);
    color:white;
}
.text{
    position: relative;
    left:100px;
}

.iop34{
    position: relative;
    left:260px;
    width:900px;
    height:400px;
    
    
}
.blok4-content{
    width:250px;
    height:200px;
  
    float:left;
    margin:20px;
}

.iop91{
    width:30px;
    height:30px;
    border-radius:50%;
    position: relative;
    left:10px;
    top:10px;
   
}


.content-5{
    width:100%;
    height:500px;
    background-color:#64C0BF;
    
}

.blok6-content{
    width:250px;
    height:210px;

    float:left;
    margin:30px;
    
}

.content-6{
    width:100%;
    height:400px;
    
}

.icon{
    width:30px;
    height:30px;
    float:left;
}

@media only screen and (max-width:1050px) {
    .img2,.btn-warning,.img{
        display:none;

    }
    
}